header {
  .navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    .navbar-header .navbar-brand {
      padding: 15px;
      img {
        height: 55px;
      }
    }
    .nav > li > a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
